

.admin .player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-height: 100%;
  background: #FFF;
  margin: 0 1vw; 
  font-size: 10rem;
  color: #333;
  user-select: none;
  border-radius: 10px;
  transform: translateX(0);
  backface-visibility: hidden;
  transition: background-color 0.2s, transform 0.75s;
  //transition-delay: 0.1s;
}
.admin.swapends .player:nth-of-type(1) {
  transform: translateX(125%)
}
.admin.swapends .player:nth-of-type(2) {
  transform: translateX(-125%)
}

.admin .playername {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25em;
}
.admin .removescore {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateY(50%);
  padding: 0 0.5em;
  border: 3px solid #FFF;
  background-color: #f75555;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: -2rem;
}

.admin .removescore:focus {
  outline: none;
}

.admin.singles .player.serving {
  background: #6de86c;
  color: #333;
}

.admin.doubles .player .playername {
  transform: translateY(0);
  transition: transform 0.5s;
}
.admin.doubles .player2 .playername {
  left: auto;
  right: 0;
}
.admin.doubles .player1 .player-a {
    bottom: 0;
    top: auto;
}

.admin.doubles .player2 .player-b {
    bottom: 0;
    top: auto;
}

.admin.doubles.swapends .player1 .playername {
  left: auto;
  right: 0;
}
.admin.doubles.swapends .player2 .playername {
  left: 0;
  right: auto;
}

.admin.doubles.swapends .player1 .player-a {
  bottom: auto;
  top: 0;
}
.admin.doubles.swapends .player1 .player-b {
  bottom: 0;
  top: auto;
}

.admin.doubles.swapends .player2 .player-a {
  bottom: 0;
  top: auto;
}
.admin.doubles.swapends .player2 .player-b {
  bottom: auto;
  top: 0;
}

.admin.doubles .player1.swapped .player-a {
  transform: translateY(calc(-60vh + 100%));
}
.admin.doubles .player1.swapped .player-b {
  transform: translateY(calc(60vh - 100%));
}
.admin.doubles .player2.swapped .player-a {
  transform: translateY(calc(60vh - 100%));
}
.admin.doubles .player2.swapped .player-b {
  transform: translateY(calc(-60vh + 100%));
}


.admin.doubles.swapends .player1.swapped .player-a {
  transform: translateY(calc(60vh - 100%));
}
.admin.doubles.swapends .player1.swapped .player-b {
  transform: translateY(calc(-60vh + 100%));
}
.admin.doubles.swapends .player2.swapped .player-a {
  transform: translateY(calc(-60vh + 100%));
}
.admin.doubles.swapends .player2.swapped .player-b {
  transform: translateY(calc(60vh - 100%));
}

.admin.doubles .player1.serving:not(.swapped) .player-a {
  color: #6de86c;
}
.admin.doubles .player1.serving.swapped .player-b {
  color: #6de86c;
}
.admin.doubles .player2.serving:not(.swapped) .player-a {
  color: #6de86c;
}
.admin.doubles .player2.serving.swapped .player-b {
  color: #6de86c;
}