*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-results {
  background-color: #222;
  height: 20vh;
  min-height: 100px;
  padding: 2vh;
  color: white;
  position: relative;
  width: 100%;
  transition: width 0.5s;
}

.result {
    background: #FFF;
    color: #333;
    min-width: 70px;
    height: 70%;
    min-height: 80px;
    display: inline-flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    margin: 0 0.1em;
    border-radius: 4px;
}
.result.winning {
  background: #6de86c;
}

.endset {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  margin-right: 10px;
  right: 0;
  width: 80px;
  height: 80px;
  background: #f75555;
  border: none;
  -webkit-appearance: none;
  border-radius: 100px;
  text-transform: uppercase;
}
.endset:focus {
  outline: none;
}
.undoendset {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-right: 10px;
  right: 85px;
  width: 40px;
  height: 40px;
  background: #444;
  border: none;
  -webkit-appearance: none;
  border-radius: 100px;
  text-transform: uppercase;
  color: #FFF;
}
.undoendset:focus {
  outline: none;
}
.newmatch {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  margin-left: 10px;
  left: 0;
  width: 80px;
  height: 40px;
  background: #797979;
  border: none;
  -webkit-appearance: none;
  border-radius: 100px;
  text-transform: uppercase;
}

.newmatch:focus {
  outline: none;
}

.firstset {
    font-size: 2rem;
    color: #444;
    text-transform: uppercase;
    padding-top: 5vh;
}
.App-score {
  height: 60vh;
  flex: 1 1 auto;
  margin: 5vh 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  transition: width 0.5s;
}
/*
.App-score.swapends {
  flex-direction: row-reverse;
}*/

.score-matchcode {
  position: absolute;
  top: 51%;
  margin-left: 10px;
  left: 0;
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
  font-family: monospace;
  text-align: center;
  color: #CCC;
  padding: 0.4em;
}