/*.has-past-matches.viewonly.App {
  align-items: flex-end;
}
.has-past-matches.viewonly .App-results,
.has-past-matches.viewonly .App-score {
  width: 80vw;
  position: relative;
}*/

.viewonly.App {
  align-items: flex-end;
}
.viewonly .App-results,
.viewonly .App-score {
  /*width: calc(100% - 350px);
  position: relative;*/
}


.viewonly .past-matches {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background: #FFF;
  overflow: hidden;
}

.past-matches h1 {
    color: #333;
    font-size: 0.8em;
    padding: 0.8em;
    line-height: 1;
    text-transform: uppercase;
}
.past-matches h2 {
  margin-bottom: 0;
}
.past-matches table {
    width: 100%;
    padding: 1em;
    font-size: 1.3rem;
}

.past-matches .empty-message {
  padding: 1em;
  color: #CCC;
  font-size: 1.2em;
}

.past-matches td {
  border: 1px solid #FFF;
  background: #333;
  color: #CCC;
  padding: 0.5em 0.1em;
}


td.past-score {
  width: 16%;
}
td.winner {
  background: #6de86c;
  color: #222;
}

.viewonly .past-matches:after {
  content: "";
  width: 20px;
  height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.25);
  position: absolute;
  left: 100%;
  top: 0;
}

.entercode {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.code-input {
  width: 100%;
  display: flex;
}
.code-input input {
  padding: 0.5em;
  font-size: 2rem;
  font-family: monospace;
  width: 100%;
  text-align: center;
  display: block;
}

.App-score.mirrored {
  flex-direction: row-reverse;
}



.mirror {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background: #FFF;
  border: none;
  -webkit-appearance: none;
  border-radius: 100px;
  text-transform: uppercase;
}
.mirror:focus {
  outline: none;
}


.view-matchcode {

  display: none;

  position: absolute;
  top: 0;
  margin-left: 0;
  left: 0;
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
  font-family: monospace;
  text-align: left;
  color: #CCC;
  padding: 0.4em;

}

.viewonly .result .name {
  font-size:0.9rem;
  position: absolute;
  top: 0.7em;
  width: 100%;
  text-transform: uppercase;
}
.viewonly .result {
  font-size: 5rem;
  position: relative;
  padding: 0.2em 0.6em 0;
}

.viewonly .player {
  border: 20px solid #FFF;
}
.viewonly .player.serving {
  /*border: 20px solid #6de86c;*/
  background: #FFF;
}
.viewonly .playername {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0.25em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.viewonly .serving .playername {
  /*color: #6de86c;*/
}


.App-score.mirrored.swapends .player:nth-of-type(1) {
  transform: translateX(-125%);
}
.App-score.mirrored.swapends .player:nth-of-type(2) {
  transform: translateX(125%);
}

.viewonly .swapends .player:nth-of-type(1) {
  transform: translateX(105%)
}
.viewonly .swapends .player:nth-of-type(2) {
  transform: translateX(-105%)
}

.viewonly .App-score.mirrored.swapends .player:nth-of-type(1) {
  transform: translateX(-105%);
}
.viewonly .App-score.mirrored.swapends .player:nth-of-type(2) {
  transform: translateX(105%);
}