

.scorer {
  perspective: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.App-scores {
  width: 50%;
  height: 56%;
  position: absolute;
  top: 23%;
  left: 25%;
  box-shadow: -20px 30px 100px rgba(0, 9, 41, 0.66);
}
.divider {
    width: 0.5vmin;
    height: 110%;
    position: absolute;
    top: -5%;
    left: calc(50% - 0.25vmin);
    background: #FFF;
}
.view-player {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25vmin;
  color: #FFF;
  font-family: roboto, sans-serif;

}

@media (orientation:portrait) {
  .view-player {
    font-size: 20vmin;
  }
}

.score-value {
    text-align: center;
    margin-top: -0.1em;
    width: 100%;
}

.player-right {
  left: 50%;
  background: #E10126;
}
.player-left {
  right: 50%;
  background: #016AEA;
}
.view-playername {
  position: absolute;
  font-size: 4.5vmin;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border: 0.1em solid #FFF;
  border-radius: 2em;
  width: 100%;
  padding: 0.4em 0.7em;
  z-index: -1;
  transition: transform 0.4s;
}




.player-left .view-playername {
  right: 89%;
}
.singles .player-left .view-player-a {
  top: 20%;
}
.singles .player-left .view-player-b {
  display: none;
}

.doubles .player-left .view-player-a {
  bottom: -8%;
}
.doubles .player-left .view-player-b {
  top: -8%;
}

.player-right .view-playername {
  left: 89%;
  text-align: right;
}
.singles .player-right .view-player-a {
  top: 20%;
}
.singles .player-right .view-player-b {
  display: none;
}


.doubles .player-right .view-player-a {
  top: -8%;
}
.doubles .player-right .view-player-b {
  bottom: -8%;
}

.serving-message {
  position: absolute;
  font-size: 3.2vmin;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: #FFF;
  padding: 0.2em 2em;
  border-radius: 2em;
}

.player-left .serving-message {
  color: #016AEA;
}
.player-right .serving-message {
  color: #E10126;
}
.singles .player-left .serving-message,
.singles .player-right .serving-message {
  left: 50%;
  bottom: 2vh;
  transform: translateX(-50%);
}

.doubles .player-left .serving-message {
    left: 2vh;
  bottom: 2vh;
}
.doubles .player-right .serving-message {
    right: 2vh;
  top: 2vh;
}

.sets {
    font-size: 7vmin;
    font-weight: bold;
    width: 13vmin;
    height: 13vmin;
    background: #FFF;
    color: #161616;
    border-radius: 10vmin;
    position: absolute;
    top: -6.5vmin;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0.7vmin 0.9vmin 10vmin rgba(0,0,0,0.5);
}

.player-left .sets {
  right: 5%;
}
.player-right .sets {
  left: 5%;
}


.swapped.player-left .view-playername.view-player-a {
    transform: translateY(calc(-50vh - 50%));
}
.swapped.player-left .view-playername.view-player-b {
    transform: translateY(calc(50vh + 50%));
}

.swapped.player-right .view-playername.view-player-a {
    transform: translateY(calc(50vh + 50%));
}
.swapped.player-right .view-playername.view-player-b {
    transform: translateY(calc(-50vh - 50%));
}



/*

.viewonly.App {
  align-items: flex-end;
}
.viewonly .App-results,
.viewonly .App-score {

}


.viewonly .past-matches {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background: #FFF;
  overflow: hidden;
}

.past-matches h1 {
    color: #333;
    font-size: 0.8em;
    padding: 0.8em;
    line-height: 1;
    text-transform: uppercase;
}
.past-matches h2 {
  margin-bottom: 0;
}
.past-matches table {
    width: 100%;
    padding: 1em;
    font-size: 1.3rem;
}

.past-matches .empty-message {
  padding: 1em;
  color: #CCC;
  font-size: 1.2em;
}

.past-matches td {
  border: 1px solid #FFF;
  background: #333;
  color: #CCC;
  padding: 0.5em 0.1em;
}


td.past-score {
  width: 16%;
}
td.winner {
  background: #6de86c;
  color: #222;
}

.viewonly .past-matches:after {
  content: "";
  width: 20px;
  height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.25);
  position: absolute;
  left: 100%;
  top: 0;
}

.entercode {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.code-input {
  width: 100%;
  display: flex;
}
.code-input input {
  padding: 0.5em;
  font-size: 2rem;
  font-family: monospace;
  width: 100%;
  text-align: center;
  display: block;
}

.App-score.mirrored {
  flex-direction: row-reverse;
}



.mirror {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background: #FFF;
  border: none;
  -webkit-appearance: none;
  border-radius: 100px;
  text-transform: uppercase;
}
.mirror:focus {
  outline: none;
}


.view-matchcode {

  display: none;

  position: absolute;
  top: 0;
  margin-left: 0;
  left: 0;
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
  font-family: monospace;
  text-align: left;
  color: #CCC;
  padding: 0.4em;

}

.viewonly .result .name {
  font-size:0.9rem;
  position: absolute;
  top: 0.7em;
  width: 100%;
  text-transform: uppercase;
}
.viewonly .result {
  font-size: 5rem;
  position: relative;
  padding: 0.2em 0.6em 0;
}

.viewonly .player {
  border: 20px solid #FFF;
}
.viewonly .player.serving {
  background: #FFF;
}
.viewonly .playername {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0.25em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.viewonly .serving .playername {

}


.App-score.mirrored.swapends .player:nth-of-type(1) {
  transform: translateX(-125%);
}
.App-score.mirrored.swapends .player:nth-of-type(2) {
  transform: translateX(125%);
}

.viewonly .swapends .player:nth-of-type(1) {
  transform: translateX(105%)
}
.viewonly .swapends .player:nth-of-type(2) {
  transform: translateX(-105%)
}

.viewonly .App-score.mirrored.swapends .player:nth-of-type(1) {
  transform: translateX(-105%);
}
.viewonly .App-score.mirrored.swapends .player:nth-of-type(2) {
  transform: translateX(105%);
}*/