
.entercode {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.code-input {
  width: 100%;
  display: flex;
}
.code-input input {
  padding: 0.5em;
  font-size: 2rem;
  font-family: monospace;
  width: 100%;
  text-align: center;
  display: block;
}